<body id="author-list-page">
<ul class="alert" id="message-block" tpl-if="$message">
    {{ $message }}
</ul>
<table class="content-table">
    <thead>
    <tr id="authors">
        <th>Nimi</th>
        <th>Perekonnanimi</th>
        <th>Hinne</th>
    </tr>
    </thead>
    <tbody class="colorful">
    <tpl tpl-foreach="$authors as $author">
    <tr>
        <td><a href="index.php?cmd=edit_author&author-id={{ $author -> getID() }}"> {{$author -> firstName}}</a></td>
        <td>{{$author -> lastName}}</td>
        <td>
            {{$author -> grade}}
        </td>
    </tr>
    </tpl>
    </tbody>
</table>
</body>