<body id="author-form-page">
<form id="input_form" action="index.php" method="post">
    <table class="content-table">
        <ul id='error-block' class='alert' tpl-if="$errors">
            <tpl tpl-foreach="$errors as $currentError">
                {{ $currentError }}<br>
            </tpl>
        </ul>
        <tbody>
        <tr>
            <td class="first_child"><label for="firstName">Eesnimi: </label></td>
            <td><input id="firstName" type="text" name="firstName" value="{{$author->firstName}}"></td>
        </tr>
        <tr>
            <td class="first_child"><label for="lastName">Perekonnanimi: </label></td>
            <td>
                <input type="text" id="lastName" name="lastName" value="{{$author->lastName}}">
            </td>
        </tr>
        <tr>
            <td class="first_child"><div class="label-cell">Hinne: </div></td>
            <td>
                <tpl tpl-foreach="range(1,5) as $grade">
                    <label for="grade{{$grade}}"></label>
                    <input type="radio" id="grade{{$grade}}" name="grade" tpl-checked="$grade == $author->grade" value="{{$grade}}">{{$grade}}
                </tpl>
            </td>
        </tr>
        </tbody>
        <input type="hidden" name="cmd" value="save-author">
        <input type="hidden" name="id" value="{{$author->getID()}}">
    </table>
    <input type="submit" id="submitButton" name="submitButton" value="Salvesta">
</form>
</body>