<body id="book-list-page">
<ul class="alert" id="message-block" tpl-if="$message">
    {{ $message }}
</ul>
<table class="content-table">
    <thead>
    <tr>
        <th>Pealkiri</th>
        <th>Autorid</th>
        <th>Hinne</th>
    </tr>
    </thead>
    <tbody class="colorful">
    <tpl tpl-foreach="$books as $book">
    <tr>
        <td><a href="index.php?cmd=editBook&book_id={{$book->getID()}}">{{$book -> title}}</a></td>
        <td>{{$book -> firstName}} {{$book -> lastName}}</td>
        <td>
            {{$book -> grade}}
        </td>
    </tr>
    </tpl>
    </tbody>
</table>
</body>