<body id="book-form-page">
<form id="input_form" action="index.php" method="post">
  <table class="content-table">
    <ul id='error-block' class='alert' tpl-if="$errors">
      <tpl tpl-foreach="$errors as $currentError">
        {{ $currentError }}
      </tpl>
    </ul>
    <tbody>
    <tr>
      <td class="first_child">
        <div class="label-cell"><label for="title">Pealkiri:</label></div>
      </td>
      <td>
        <div class="input-cell"><input id="title" name="title" type="text" value="{{$book -> title}}"></div>
      </td>
    </tr>
    <tr>
      <td class="first_child">
        <div class="label-cell"><label for="author1">Autor1:</label></div>
      </td>
      <td>
        <label for="author1"></label>
        <select name="author1" id="author1">
          <option value=0></option>
          <tpl tpl-foreach="$authors as $author">
            <option tpl-selected="$book->authorID == $author->getID()" value="{{ $author->getID() }}">{{$author->firstName}} {{$author->lastName}}</option>
          </tpl>
        </select>
      </td>
    </tr>
    <tr>
      <td class="first_child"><div class="label-cell">Hinne: </div>
      </td>
      <td>
        <div class="input-cell">
          <tpl tpl-foreach="range(1,5) as $grade">
            <label for="grade{{ $grade }}"></label><input type="radio" id="grade{{ $grade }}" name="grade" tpl-checked="$grade == $book->grade" value="{{ $grade }}"> {{$grade}}
          </tpl>
        </div>
      </td>
    </tr>
    <tr>
      <td class="first_child">
        <div class="label-cell"><label for="isRead">Loetud:</label></div>
      </td>
      <td>
        <input id="isRead" type="checkbox" name="isRead" tpl-checked="$book->isRead">
      </td>
    </tr>
    </tbody>
    <input type="hidden" name="book_id" value="{{$book->getID()}}">
    <input type="hidden" name="cmd" value="edit-book">
  </table>
  <input type="submit" name="deleteButton" id="deleteButton" value="Kustuta">
  <input type="submit" id="submitButton" name="submitButton" value="Salvesta">
</form>
</body>