
*{box-sizing: border-box}
html {
    height: 100%;
}

body {
    background-image: radial-gradient(whitesmoke, black);
    margin: 0 auto;
    /*padding: 1rem;*/
    font-family: Arial, sans-serif;
    color: #333;
    min-width: 30rem;
    max-width: 40rem;
    min-height: 95.7vh;
    display: grid;
    grid-template-rows: 2.9rem auto 2rem;
}
.content-table {

    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;

}
.first_child{
    text-align: right}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: whitesmoke;
}
.content-table tbody tr:nth-of-type(odd) {
    background-color: ghostwhite;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
/*.colorful{*/

/*    color: white;*/
/*    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
/*}*/

div.a {
    font-size: 40px;
}

nav {
    overflow: hidden;
    background-color: #333;
}

nav a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    /*padding: 15px 44.312px;*/
    padding: 15px 6.9238%;
    text-decoration: none;
}

nav a:hover{
    background-color: red;
}

.full-screen-div {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
footer{
    margin-top: 2rem;
    margin-bottom: -2rem;
    display: block;
    text-align: center;
    color: white;
    background-color: #333;
    padding-top: 0.6rem;
    padding-left: 0.6rem;
}

input[type=text], input[type='submit'] {
    font-size: 0.8rem;
    width: 19rem;
    padding: 0.3rem;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: .25rem;
}
select {
    font-size: 0.8rem;
    width: 19.74rem;
    padding: 0.3rem;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: .25rem;
}

input[id = "submitButton"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 6rem;
    font-size: 1rem;
}
input[id = "deleteButton"]{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 6rem;
    font-size: 1rem;
}


input[type='submit'].danger {
    background-color: #dc3545;
}


