<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="kujundus.css">
  <meta charset="UTF-8">
  <title>Author Add</title>
</head>
<nav>
  <a href="?cmd=book-list" id="book-list-link">Raamatud</a>
  <a href="?cmd=book-add" id="book-form-link">Lisa Raamat</a>
  <a href="?cmd=author-list" id="author-list-link">Autorid</a>
  <a href="?cmd=author-add" id="author-form-link">Lisa Autor</a>
</nav>

<main tpl-include="{{ $template }}"></main>

<footer>ICD0007 Ergo Kirt</footer>
</html>
