p[class = "a"], p[class = "b"], div[class = 'c'], span[class = 'a']{
    color: blue;
    font-style: italic;
}

span[class = 'b']{
    color: red;
    font-style: normal;
}

p[class = "a"], span[class = 'a']{
    color: green;
}
